@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Page</title>
</head>
<body>
    <h2>This is Admin Page</h2>
    <ul>
        <li>Admin logged in successfully</li>
        <li>access pizzas</li>
        <li>access users</li>
        <li>access categories</li>
    </ul>
</body>
</html>


